.my-icon {
    --sds-c-icon-color-foreground-default: red;
    /* --sds-c-icon-color-background: gray; */
}

.bgColor {
    background-color: #FF5C5C;
}
.greenRow {
    background-color: #32CD32;
  }
.whiteRow{
    background-color: white;
}
table tr:hover td { 
    background-color: inherit;     
    opacity: 1.0;
 }
tbody
{
    counter-reset: Serial;          
}

table
{
    border-collapse: separate;
}

tr td:first-child:before
{
    counter-increment: Serial;      
    content: counter(Serial); 
}